<!--The content below is only a placeholder and can be replaced.-->

<style>
.pair {
  float: left;
  margin-right: 1em;
  width: 15em;
  height: 18em;
  border: 1px solid silver;
  border-radius: 4px;
  list-style: none;
}

.pair ul {
  padding-left: 0;
  list-style: none;
}

.pair span {
  display: inline-block;
  width: 6em;
}
</style>
<ul>
  <li *ngFor="let pair of pairs" class="pair">
    <h2>{{ pair.pair }}</h2>

    <ul>
      <li *ngFor="let prop of pair | values">
        <span>{{ prop.display }}</span> {{ prop.value }}
      </li>
    </ul>
    <p>{{pair.messssage}}</p>

  </li>
</ul>
